<script src="/assets/tui-editor/dist/tui-editor-Editor.min"></script>
<script src="/assets/tui-editor/dist/tui-editor-extScrollSync.min"></script>

<%= form_with(model: post, local: true, id: 'post_form') do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_area :content, 'data-editor': 'tui-editor' %>
  </div>

  <div class="actions">
    <%= form.submit nil, class: 'btn btn-primary' %>
    <%= link_to 'Show', @post, class: 'btn btn-outline-primary' if @post.persisted? %>
    <%= link_to 'Back', posts_path, class: 'btn btn-outline-primary' %>
  </div>
<% end %>